.card {
  display: flex;
  flex-direction: column;
  height: 271px;
  list-style-type: none;
  background: #fdfdfd;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
}
.card__image {
  width: 100%;
  height: 203px;
  object-fit: contain;
  cursor: pointer;
}
.card__trailer {
  text-decoration: none;
}
.card__trailer:hover {
  opacity: 0.8;
}
.card__head {
  display: flex;
  justify-content: space-between;
  padding: 14px;
}
.card__delete {
  background-image: url("../../images/card-delete.svg");
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: 1s;
  border: none;
  border-radius: 36px;
  background-repeat: no-repeat;
  background-position: center;
}
.card__like {
  width: 30px;
  height: 30px;
  cursor: pointer;
  border: none;
  border-radius: 36px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../../images/save9d.svg");
}
.card__like_active {
  background-image: url("../../images/like-active.svg");
}

.card__title {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  margin: 0 0 9px 0;
  max-width: 300px;
}
.card__duration {
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  display: flex;
  align-items: center;
  color: #a0a0a0;
  margin: 0;
}
.none {
  display: none;
}
