.movie-card-list {
  padding-top: 60px;
  border-top: 1px solid #e8e8e8;
  width: 89.06%;
  margin: auto;
}
.movies__gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px 24px;
  padding: 0;
}
.server__error {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0em;
  text-align: left;
  color: #ee3465;
  margin: 0;
  margin-bottom: 6px;
  min-height: 12px;
}
@media screen and (max-width: 768px) {
  .movie-card-list {
    padding-top: 80px;
    width: 92.19%;
  }
  .movies__gallery {
    gap: 36px 30px;
  }
}
@media screen and (max-width: 480px) {
  .movie-card-list {
    padding-top: 50px;
    width: 93.75%;
  }
  .movies__gallery {
    align-items: center;
    gap: 16px;
  }
}
